In [1]:
import pandas as pd
import numpy as np

Loading data into the data frames

In [2]:
customers = pd.read_csv('D:\\Pro_Analyst_Project\\Data\\olist_customers_dataset_.csv')

In [3]:
customers.head()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP

In [4]:
customers.shape

(99441, 5)

In [5]:
customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               99441 non-null  object
 1   customer_unique_id        99441 non-null  object
 2   customer_zip_code_prefix  99441 non-null  int64
 3   customer_city             99441 non-null  object
 4   customer_state            99441 non-null  object
dtypes: int64(1), object(4)
memory usage: 3.8+ MB

In [6]:
geolocation_data = pd.read_csv('D:\\Pro_Analyst_Project\\Data\\olist_geolocation_dataset.csv')

In [7]:
geolocation_data.shape
geolocation_data.head

<bound method NDFrame.head of          geolocation_zip_code_prefix  geolocation_lat  geolocation_lng  \
0                               1037       -23.545621       -46.639292
1                               1046       -23.546081       -46.644820
2                               1046       -23.546129       -46.642951
3                               1041       -23.544392       -46.639499
4                               1035       -23.541578       -46.641607
...                              ...              ...              ...
1000158                        99950       -28.068639       -52.010705
1000159                        99900       -27.877125       -52.224882
1000160                        99950       -28.071855       -52.014716
1000161                        99980       -28.388932       -51.846871
1000162                        99950       -28.070104       -52.018658

        geolocation_city geolocation_state
0              sao paulo                SP
1              sao paulo                SP
2              sao paulo                SP
3              sao paulo                SP
4              sao paulo                SP
...                  ...               ...
1000158         tapejara                RS
1000159   getulio vargas                RS
1000160         tapejara                RS
1000161  david canabarro                RS
1000162         tapejara                RS

[1000163 rows x 5 columns]>

In [8]:
order_items_dataset = pd.read_csv('D:\\Pro_Analyst_Project\\Data\\olist_order_items_dataset.csv')

In [9]:
order_items_dataset.head(5)

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14

In [10]:
order_items_dataset.shape

(112650, 7)

In [11]:
order_payments_dataset = pd.read_csv('D:\\Pro_Analyst_Project\\Data\\olist_order_payments_dataset.csv')

In [12]:
order_payments_dataset.shape

(103886, 5)

In [13]:
order_payments_dataset.head(5)

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.71
3,ba78997921bbcdc1373bb41e913ab953,1,credit_card,8,107.78
4,42fdf880ba16b47b59251dd489d4441a,1,credit_card,2,128.45

In [14]:
order_review_dataset = pd.read_csv('D:\\Pro_Analyst_Project\\Data\\olist_order_reviews_dataset.csv')

In [15]:
order_review_dataset.shape

(99224, 7)

In [16]:
order_review_dataset.head(5)

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,NaN,NaN,2018-01-18 00:00:00,2018-01-18 21:46:59
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,NaN,NaN,2018-03-10 00:00:00,2018-03-11 03:05:13
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5,NaN,NaN,2018-02-17 00:00:00,2018-02-18 14:36:24
3,e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,5,NaN,Recebi bem antes do prazo estipulado.,2017-04-21 00:00:00,2017-04-21 22:02:06
4,f7c4243c7fe1938f181bec41a392bdeb,8e6bfb81e283fa7e4f11123a3fb894f1,5,NaN,Parabéns lojas lannister adorei comprar pela I...,2018-03-01 00:00:00,2018-03-02 10:26:53

In [17]:
orders_dataset = pd.read_csv('D:\\Pro_Analyst_Project\\Data\\olist_orders_dataset.csv')

In [18]:
orders_dataset.shape

(99441, 8)

In [19]:
orders_dataset.head(5)

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00

In [20]:
Products_dataset = pd.read_csv('D:\\Pro_Analyst_Project\\Data\\olist_products_dataset.csv')

In [21]:
Products_dataset.shape

(32951, 9)

In [22]:
sellers_dataset = pd.read_csv('D:\\Pro_Analyst_Project\\Data\\olist_sellers_dataset.csv')

In [23]:
pdt_ctgry_nm_trans_data = pd.read_csv('D:\\Pro_Analyst_Project\\Data\\product_category_name_translation.csv')

In [24]:
pdt_ctgry_nm_trans_data.head()

    product_category_name product_category_name_english
0            beleza_saude                 health_beauty
1  informatica_acessorios         computers_accessories
2              automotivo                          auto
3         cama_mesa_banho                bed_bath_table
4        moveis_decoracao               furniture_decor

In [25]:
sellers_dataset.head()
sellers_dataset.shape

(3095, 4)

In [26]:
Products_dataset.head()

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,46.0,250.0,1.0,154.0,18.0,9.0,15.0
3,cef67bcfe19066a932b7673e239eb23d,bebes,27.0,261.0,1.0,371.0,26.0,4.0,26.0
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,37.0,402.0,4.0,625.0,20.0,17.0,13.0

In [27]:
orders_dataset.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00

In [28]:
order_items_dataset.head()

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14

In [ ]:
# every data is loaded

In [29]:
pdt_ctgry_nm_trans_data.head()

    product_category_name product_category_name_english
0            beleza_saude                 health_beauty
1  informatica_acessorios         computers_accessories
2              automotivo                          auto
3         cama_mesa_banho                bed_bath_table
4        moveis_decoracao               furniture_decor

As per the requirement given 

o For each table, show:
 Number of rows
 Number of columns
 5 sample rows


we have shown the same with below code

In [30]:
tables = {
        "orders": orders_dataset,
        "customers": customers,
        "order_items": order_items_dataset,
        "order_payments": order_payments_dataset,
        "products": Products_dataset,
   
}

In [31]:
for table_name, df in tables.items():
    print(f"Table Name: {table_name}")
    print(f"Number of Rows: {df.shape[0]}")
    print(f"Number of Columns: {df.shape[1]}")
    display(df.head())
    print("-" * 50)

Table Name: orders
Number of Rows: 99441
Number of Columns: 8

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00

--------------------------------------------------
Table Name: customers
Number of Rows: 99441
Number of Columns: 5

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP

--------------------------------------------------
Table Name: order_items
Number of Rows: 112650
Number of Columns: 7

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14

--------------------------------------------------
Table Name: order_payments
Number of Rows: 103886
Number of Columns: 5

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.71
3,ba78997921bbcdc1373bb41e913ab953,1,credit_card,8,107.78
4,42fdf880ba16b47b59251dd489d4441a,1,credit_card,2,128.45

--------------------------------------------------
Table Name: products
Number of Rows: 32951
Number of Columns: 9

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,46.0,250.0,1.0,154.0,18.0,9.0,15.0
3,cef67bcfe19066a932b7673e239eb23d,bebes,27.0,261.0,1.0,371.0,26.0,4.0,26.0
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,37.0,402.0,4.0,625.0,20.0,17.0,13.0

--------------------------------------------------

2. Identify keys &amp; relationships

The orders table is joined to the customers table using the customer_id column.

The orders table is joined to the order_items table using the order_id column.

The order_items table is joined to the products table using the product_id column.

The orders table is joined to the order_payments table using the order_id column.

A2 Requirements

One order_id can have multiple product_id

So:

order_items = base table

Other tables add extra info

we have removed the row, where order status is not delivered

In [32]:
orders_filtered = orders_dataset[orders_dataset['order_status'] == 'delivered']

In [33]:


orders_filtered

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00
...,...,...,...,...,...,...,...,...
99436,9c5dedf39a927c1b2549525ed64a053c,39bd1228ee8140590ac3aca26f2dfe00,delivered,2017-03-09 09:54:05,2017-03-09 09:54:05,2017-03-10 11:18:03,2017-03-17 15:08:01,2017-03-28 00:00:00
99437,63943bddc261676b46f01ca7ac2f7bd8,1fca14ff2861355f6e5f14306ff977a7,delivered,2018-02-06 12:58:58,2018-02-06 13:10:37,2018-02-07 23:22:42,2018-02-28 17:37:56,2018-03-02 00:00:00
99438,83c1379a015df1e13d02aae0204711ab,1aa71eb042121263aafbe80c1b562c9c,delivered,2017-08-27 14:46:43,2017-08-27 15:04:16,2017-08-28 20:52:26,2017-09-21 11:24:17,2017-09-27 00:00:00
99439,11c177c8e97725db2631073c19f07b62,b331b74b18dc79bcdf6532d51e1637c1,delivered,2018-01-08 21:28:27,2018-01-08 21:36:21,2018-01-12 15:35:03,2018-01-25 23:32:54,2018-02-15 00:00:00
99440,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,delivered,2018-03-08 20:57:30,2018-03-09 11:20:28,2018-03-09 22:11:59,2018-03-16 13:08:30,2018-04-03 00:00:00

## Convert Timestamp & Create Date Column

In [34]:
orders_filtered['order_purchase_timestamp'] = pd.to_datetime(
    orders_filtered['order_purchase_timestamp']
)

C:\Users\deena\AppData\Local\Temp\ipykernel_25096\2132262162.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  orders_filtered['order_purchase_timestamp'] = pd.to_datetime(

In [35]:
orders_filtered['order_purchase_date'] = (
    orders_filtered['order_purchase_timestamp'].dt.date
)

C:\Users\deena\AppData\Local\Temp\ipykernel_25096\1220553481.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  orders_filtered['order_purchase_date'] = (

In [36]:
orders_filtered['order_purchase_date']

0        2017-10-02
1        2018-07-24
2        2018-08-08
3        2017-11-18
4        2018-02-13
            ...
99436    2017-03-09
99437    2018-02-06
99438    2017-08-27
99439    2018-01-08
99440    2018-03-08
Name: order_purchase_date, Length: 96478, dtype: object

## Join Orders + customer

In [37]:
orders_filtered

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,order_purchase_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,2017-10-02
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00,2018-07-24
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00,2018-08-08
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00,2017-11-18
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00,2018-02-13
...,...,...,...,...,...,...,...,...,...
99436,9c5dedf39a927c1b2549525ed64a053c,39bd1228ee8140590ac3aca26f2dfe00,delivered,2017-03-09 09:54:05,2017-03-09 09:54:05,2017-03-10 11:18:03,2017-03-17 15:08:01,2017-03-28 00:00:00,2017-03-09
99437,63943bddc261676b46f01ca7ac2f7bd8,1fca14ff2861355f6e5f14306ff977a7,delivered,2018-02-06 12:58:58,2018-02-06 13:10:37,2018-02-07 23:22:42,2018-02-28 17:37:56,2018-03-02 00:00:00,2018-02-06
99438,83c1379a015df1e13d02aae0204711ab,1aa71eb042121263aafbe80c1b562c9c,delivered,2017-08-27 14:46:43,2017-08-27 15:04:16,2017-08-28 20:52:26,2017-09-21 11:24:17,2017-09-27 00:00:00,2017-08-27
99439,11c177c8e97725db2631073c19f07b62,b331b74b18dc79bcdf6532d51e1637c1,delivered,2018-01-08 21:28:27,2018-01-08 21:36:21,2018-01-12 15:35:03,2018-01-25 23:32:54,2018-02-15 00:00:00,2018-01-08
99440,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,delivered,2018-03-08 20:57:30,2018-03-09 11:20:28,2018-03-09 22:11:59,2018-03-16 13:08:30,2018-04-03 00:00:00,2018-03-08

In [38]:
customers.columns

Index(['customer_id', 'customer_unique_id', 'customer_zip_code_prefix',
       'customer_city', 'customer_state'],
      dtype='object')

merging the ordered filtered table with the customers to take out the customer state fro the customers table

In [39]:
ordered_customers = orders_filtered.merge(

customers[['customer_id', 'customer_state']],

on = 'customer_id',
how='left'

)

Now we applied joins to create a final orders_enriched table

In [ ]:
ordered_customers

In [40]:
### Join the Order_items

order_items_dataset

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14
...,...,...,...,...,...,...,...
112645,fffc94f6ce00a00581880bf54a75a037,1,4aa6014eceb682077f9dc4bffebc05b0,b8bc237ba3788b23da09c0f1f3a3288c,2018-05-02 04:11:01,299.99,43.41
112646,fffcd46ef2263f404302a634eb57f7eb,1,32e07fd915822b0765e448c4dd74c828,f3c38ab652836d21de61fb8314b69182,2018-07-20 04:31:48,350.00,36.53
112647,fffce4705a9662cd70adb13d4a31832d,1,72a30483855e2eafc67aee5dc2560482,c3cfdc648177fdbbbb35635a37472c53,2017-10-30 17:14:25,99.90,16.95
112648,fffe18544ffabc95dfada21779c9644f,1,9c422a519119dcad7575db5af1ba540e,2b3e4a2a3ea8e01938cabda2a3e5cc79,2017-08-21 00:04:32,55.99,8.72
112649,fffe41c64501cc87c801fd61db3f6244,1,350688d9dc1e75ff97be326363655e01,f7ccf836d21b2fb1de37564105216cc1,2018-06-12 17:10:13,43.00,12.79

In [41]:
orders_dataset

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00
...,...,...,...,...,...,...,...,...
99436,9c5dedf39a927c1b2549525ed64a053c,39bd1228ee8140590ac3aca26f2dfe00,delivered,2017-03-09 09:54:05,2017-03-09 09:54:05,2017-03-10 11:18:03,2017-03-17 15:08:01,2017-03-28 00:00:00
99437,63943bddc261676b46f01ca7ac2f7bd8,1fca14ff2861355f6e5f14306ff977a7,delivered,2018-02-06 12:58:58,2018-02-06 13:10:37,2018-02-07 23:22:42,2018-02-28 17:37:56,2018-03-02 00:00:00
99438,83c1379a015df1e13d02aae0204711ab,1aa71eb042121263aafbe80c1b562c9c,delivered,2017-08-27 14:46:43,2017-08-27 15:04:16,2017-08-28 20:52:26,2017-09-21 11:24:17,2017-09-27 00:00:00
99439,11c177c8e97725db2631073c19f07b62,b331b74b18dc79bcdf6532d51e1637c1,delivered,2018-01-08 21:28:27,2018-01-08 21:36:21,2018-01-12 15:35:03,2018-01-25 23:32:54,2018-02-15 00:00:00
99440,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,delivered,2018-03-08 20:57:30,2018-03-09 11:20:28,2018-03-09 22:11:59,2018-03-16 13:08:30,2018-04-03 00:00:00

merged ordered customers and the order item data set to take out the value of
product ID, price, freight Value

In [42]:
## adding 'order_id', 'product_id', 'price', 'freight_value'


ordered_customers = ordered_customers.merge(

order_items_dataset[['order_id', 'product_id','price', 'freight_value' ]],
on = 'order_id',
how='left'

)

In [43]:
ordered_customers

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,order_purchase_date,customer_state,product_id,price,freight_value
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,2017-10-02,SP,87285b34884572647811a353c7ac498a,29.99,8.72
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00,2018-07-24,BA,595fac2a385ac33a80bd5114aec74eb8,118.70,22.76
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00,2018-08-08,GO,aa4383b373c6aca5d8797843e5594415,159.90,19.22
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00,2017-11-18,RN,d0b61bfb1de832b15ba9d266ca96e5b0,45.00,27.20
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00,2018-02-13,SP,65266b2da20d04dbe00c5c2d3bb7859e,19.90,8.72
...,...,...,...,...,...,...,...,...,...,...,...,...,...
110192,63943bddc261676b46f01ca7ac2f7bd8,1fca14ff2861355f6e5f14306ff977a7,delivered,2018-02-06 12:58:58,2018-02-06 13:10:37,2018-02-07 23:22:42,2018-02-28 17:37:56,2018-03-02 00:00:00,2018-02-06,SP,f1d4ce8c6dd66c47bbaa8c6781c2a923,174.90,20.10
110193,83c1379a015df1e13d02aae0204711ab,1aa71eb042121263aafbe80c1b562c9c,delivered,2017-08-27 14:46:43,2017-08-27 15:04:16,2017-08-28 20:52:26,2017-09-21 11:24:17,2017-09-27 00:00:00,2017-08-27,BA,b80910977a37536adeddd63663f916ad,205.99,65.02
110194,11c177c8e97725db2631073c19f07b62,b331b74b18dc79bcdf6532d51e1637c1,delivered,2018-01-08 21:28:27,2018-01-08 21:36:21,2018-01-12 15:35:03,2018-01-25 23:32:54,2018-02-15 00:00:00,2018-01-08,RJ,d1c427060a0f73f6b889a5c7c61f2ac4,179.99,40.59
110195,11c177c8e97725db2631073c19f07b62,b331b74b18dc79bcdf6532d51e1637c1,delivered,2018-01-08 21:28:27,2018-01-08 21:36:21,2018-01-12 15:35:03,2018-01-25 23:32:54,2018-02-15 00:00:00,2018-01-08,RJ,d1c427060a0f73f6b889a5c7c61f2ac4,179.99,40.59
110196,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,delivered,2018-03-08 20:57:30,2018-03-09 11:20:28,2018-03-09 22:11:59,2018-03-16 13:08:30,2018-04-03 00:00:00,2018-03-08,PR,006619bbed68b000c8ba3f8725d5409e,68.50,18.36

In [44]:
Products_dataset

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,46.0,250.0,1.0,154.0,18.0,9.0,15.0
3,cef67bcfe19066a932b7673e239eb23d,bebes,27.0,261.0,1.0,371.0,26.0,4.0,26.0
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,37.0,402.0,4.0,625.0,20.0,17.0,13.0
...,...,...,...,...,...,...,...,...,...
32946,a0b7d5a992ccda646f2d34e418fff5a0,moveis_decoracao,45.0,67.0,2.0,12300.0,40.0,40.0,40.0
32947,bf4538d88321d0fd4412a93c974510e6,construcao_ferramentas_iluminacao,41.0,971.0,1.0,1700.0,16.0,19.0,16.0
32948,9a7c6041fa9592d9d9ef6cfe62a71f8c,cama_mesa_banho,50.0,799.0,1.0,1400.0,27.0,7.0,27.0
32949,83808703fc0706a22e264b9d75f04a2e,informatica_acessorios,60.0,156.0,2.0,700.0,31.0,13.0,20.0
32950,106392145fca363410d287a815be6de4,cama_mesa_banho,58.0,309.0,1.0,2083.0,12.0,2.0,7.0

In [45]:
Products_dataset.columns

Index(['product_id', 'product_category_name', 'product_name_lenght',
       'product_description_lenght', 'product_photos_qty', 'product_weight_g',
       'product_length_cm', 'product_height_cm', 'product_width_cm'],
      dtype='object')

now merging the ordered customers and product_dataset to fetch the column 
product_category_name

In [54]:
## adding the product category name

ordered_customers = ordered_customers.merge(

Products_dataset[['product_id', 'product_category_name']],
on = 'product_id',
how = 'left'

)

In [46]:
ordered_customers

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,order_purchase_date,customer_state,product_id,price,freight_value
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,2017-10-02,SP,87285b34884572647811a353c7ac498a,29.99,8.72
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00,2018-07-24,BA,595fac2a385ac33a80bd5114aec74eb8,118.70,22.76
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00,2018-08-08,GO,aa4383b373c6aca5d8797843e5594415,159.90,19.22
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00,2017-11-18,RN,d0b61bfb1de832b15ba9d266ca96e5b0,45.00,27.20
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00,2018-02-13,SP,65266b2da20d04dbe00c5c2d3bb7859e,19.90,8.72
...,...,...,...,...,...,...,...,...,...,...,...,...,...
110192,63943bddc261676b46f01ca7ac2f7bd8,1fca14ff2861355f6e5f14306ff977a7,delivered,2018-02-06 12:58:58,2018-02-06 13:10:37,2018-02-07 23:22:42,2018-02-28 17:37:56,2018-03-02 00:00:00,2018-02-06,SP,f1d4ce8c6dd66c47bbaa8c6781c2a923,174.90,20.10
110193,83c1379a015df1e13d02aae0204711ab,1aa71eb042121263aafbe80c1b562c9c,delivered,2017-08-27 14:46:43,2017-08-27 15:04:16,2017-08-28 20:52:26,2017-09-21 11:24:17,2017-09-27 00:00:00,2017-08-27,BA,b80910977a37536adeddd63663f916ad,205.99,65.02
110194,11c177c8e97725db2631073c19f07b62,b331b74b18dc79bcdf6532d51e1637c1,delivered,2018-01-08 21:28:27,2018-01-08 21:36:21,2018-01-12 15:35:03,2018-01-25 23:32:54,2018-02-15 00:00:00,2018-01-08,RJ,d1c427060a0f73f6b889a5c7c61f2ac4,179.99,40.59
110195,11c177c8e97725db2631073c19f07b62,b331b74b18dc79bcdf6532d51e1637c1,delivered,2018-01-08 21:28:27,2018-01-08 21:36:21,2018-01-12 15:35:03,2018-01-25 23:32:54,2018-02-15 00:00:00,2018-01-08,RJ,d1c427060a0f73f6b889a5c7c61f2ac4,179.99,40.59
110196,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,delivered,2018-03-08 20:57:30,2018-03-09 11:20:28,2018-03-09 22:11:59,2018-03-16 13:08:30,2018-04-03 00:00:00,2018-03-08,PR,006619bbed68b000c8ba3f8725d5409e,68.50,18.36

In [47]:
## now we haver to add the payment status and payment value

order_payments_dataset

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.71
3,ba78997921bbcdc1373bb41e913ab953,1,credit_card,8,107.78
4,42fdf880ba16b47b59251dd489d4441a,1,credit_card,2,128.45
...,...,...,...,...,...
103881,0406037ad97740d563a178ecc7a2075c,1,boleto,1,363.31
103882,7b905861d7c825891d6347454ea7863f,1,credit_card,2,96.80
103883,32609bbb3dd69b3c066a6860554a77bf,1,credit_card,1,47.77
103884,b8b61059626efa996a60be9bb9320e10,1,credit_card,5,369.54
103885,28bbae6599b09d39ca406b747b6632b1,1,boleto,1,191.58

In [48]:
order_payments_dataset.columns

Index(['order_id', 'payment_sequential', 'payment_type',
       'payment_installments', 'payment_value'],
      dtype='object')

adding payment type and payment value to the ordered_customer table by merging with
order_payments_dataset

In [49]:
ordered_customers = ordered_customers.merge(


order_payments_dataset[['order_id','payment_type', 'payment_value' ]],
on = 'order_id',
how = 'left'

)

In [50]:
ordered_customers

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,order_purchase_date,customer_state,product_id,price,freight_value,payment_type,payment_value
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,2017-10-02,SP,87285b34884572647811a353c7ac498a,29.99,8.72,credit_card,18.12
1,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,2017-10-02,SP,87285b34884572647811a353c7ac498a,29.99,8.72,voucher,2.00
2,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,2017-10-02,SP,87285b34884572647811a353c7ac498a,29.99,8.72,voucher,18.59
3,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00,2018-07-24,BA,595fac2a385ac33a80bd5114aec74eb8,118.70,22.76,boleto,141.46
4,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00,2018-08-08,GO,aa4383b373c6aca5d8797843e5594415,159.90,19.22,credit_card,179.12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115033,63943bddc261676b46f01ca7ac2f7bd8,1fca14ff2861355f6e5f14306ff977a7,delivered,2018-02-06 12:58:58,2018-02-06 13:10:37,2018-02-07 23:22:42,2018-02-28 17:37:56,2018-03-02 00:00:00,2018-02-06,SP,f1d4ce8c6dd66c47bbaa8c6781c2a923,174.90,20.10,credit_card,195.00
115034,83c1379a015df1e13d02aae0204711ab,1aa71eb042121263aafbe80c1b562c9c,delivered,2017-08-27 14:46:43,2017-08-27 15:04:16,2017-08-28 20:52:26,2017-09-21 11:24:17,2017-09-27 00:00:00,2017-08-27,BA,b80910977a37536adeddd63663f916ad,205.99,65.02,credit_card,271.01
115035,11c177c8e97725db2631073c19f07b62,b331b74b18dc79bcdf6532d51e1637c1,delivered,2018-01-08 21:28:27,2018-01-08 21:36:21,2018-01-12 15:35:03,2018-01-25 23:32:54,2018-02-15 00:00:00,2018-01-08,RJ,d1c427060a0f73f6b889a5c7c61f2ac4,179.99,40.59,credit_card,441.16
115036,11c177c8e97725db2631073c19f07b62,b331b74b18dc79bcdf6532d51e1637c1,delivered,2018-01-08 21:28:27,2018-01-08 21:36:21,2018-01-12 15:35:03,2018-01-25 23:32:54,2018-02-15 00:00:00,2018-01-08,RJ,d1c427060a0f73f6b889a5c7c61f2ac4,179.99,40.59,credit_card,441.16
115037,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,delivered,2018-03-08 20:57:30,2018-03-09 11:20:28,2018-03-09 22:11:59,2018-03-16 13:08:30,2018-04-03 00:00:00,2018-03-08,PR,006619bbed68b000c8ba3f8725d5409e,68.50,18.36,debit_card,86.86

In [51]:
ordered_customers.columns

Index(['order_id', 'customer_id', 'order_status', 'order_purchase_timestamp',
       'order_approved_at', 'order_delivered_carrier_date',
       'order_delivered_customer_date', 'order_estimated_delivery_date',
       'order_purchase_date', 'customer_state', 'product_id', 'price',
       'freight_value', 'payment_type', 'payment_value'],
      dtype='object')

In [55]:
orders_enriched = ordered_customers[[
    'order_id',
    'order_purchase_timestamp',
    'customer_id',
    'customer_state',
    'product_id',
    'product_category_name',
    'price',
    'freight_value',
    'payment_type',
    'payment_value',
    'order_status'

]]

In [56]:
orders_enriched

,order_id,order_purchase_timestamp,customer_id,customer_state,product_id,product_category_name,price,freight_value,payment_type,payment_value,order_status
0,e481f51cbdc54678b7cc49136f2d6af7,2017-10-02 10:56:33,9ef432eb6251297304e76186b10a928d,SP,87285b34884572647811a353c7ac498a,utilidades_domesticas,29.99,8.72,credit_card,18.12,delivered
1,e481f51cbdc54678b7cc49136f2d6af7,2017-10-02 10:56:33,9ef432eb6251297304e76186b10a928d,SP,87285b34884572647811a353c7ac498a,utilidades_domesticas,29.99,8.72,voucher,2.00,delivered
2,e481f51cbdc54678b7cc49136f2d6af7,2017-10-02 10:56:33,9ef432eb6251297304e76186b10a928d,SP,87285b34884572647811a353c7ac498a,utilidades_domesticas,29.99,8.72,voucher,18.59,delivered
3,53cdb2fc8bc7dce0b6741e2150273451,2018-07-24 20:41:37,b0830fb4747a6c6d20dea0b8c802d7ef,BA,595fac2a385ac33a80bd5114aec74eb8,perfumaria,118.70,22.76,boleto,141.46,delivered
4,47770eb9100c2d0c44946d9cf07ec65d,2018-08-08 08:38:49,41ce2a54c0b03bf3443c3d931a367089,GO,aa4383b373c6aca5d8797843e5594415,automotivo,159.90,19.22,credit_card,179.12,delivered
...,...,...,...,...,...,...,...,...,...,...,...
115033,63943bddc261676b46f01ca7ac2f7bd8,2018-02-06 12:58:58,1fca14ff2861355f6e5f14306ff977a7,SP,f1d4ce8c6dd66c47bbaa8c6781c2a923,bebes,174.90,20.10,credit_card,195.00,delivered
115034,83c1379a015df1e13d02aae0204711ab,2017-08-27 14:46:43,1aa71eb042121263aafbe80c1b562c9c,BA,b80910977a37536adeddd63663f916ad,eletrodomesticos_2,205.99,65.02,credit_card,271.01,delivered
115035,11c177c8e97725db2631073c19f07b62,2018-01-08 21:28:27,b331b74b18dc79bcdf6532d51e1637c1,RJ,d1c427060a0f73f6b889a5c7c61f2ac4,informatica_acessorios,179.99,40.59,credit_card,441.16,delivered
115036,11c177c8e97725db2631073c19f07b62,2018-01-08 21:28:27,b331b74b18dc79bcdf6532d51e1637c1,RJ,d1c427060a0f73f6b889a5c7c61f2ac4,informatica_acessorios,179.99,40.59,credit_card,441.16,delivered
115037,66dea50a8b16d9b4dee7af250b4be1a5,2018-03-08 20:57:30,edb027a75a1449115f6b43211ae02a24,PR,006619bbed68b000c8ba3f8725d5409e,beleza_saude,68.50,18.36,debit_card,86.86,delivered

In [57]:
orders_enriched.columns

Index(['order_id', 'order_purchase_timestamp', 'customer_id', 'customer_state',
       'product_id', 'product_category_name', 'price', 'freight_value',
       'payment_type', 'payment_value', 'order_status'],
      dtype='object')

1. Overall KPIs (for the whole dataset)
Compute and output:

o Total number of orders
o Total revenue (sum of payment_value)
o Average order value (AOV = total revenue / number of orders)
o Date range: min and max order_purchase_date

o Total number of orders

In [58]:
total_orders = orders_enriched['order_id'].nunique()

In [59]:
total_orders

96478

o Total revenue (sum of payment_value)

In [60]:
total_revenue = orders_enriched['payment_value'].sum()
total_revenue

np.float64(19776160.439999998)

o Average order value (AOV = total revenue / number of orders)

In [61]:
Avg_odr_val = total_revenue / total_orders
Avg_odr_val

np.float64(204.98103650573185)

o Date range: min and max order_purchase_date

In [62]:
min_date = orders_enriched['order_purchase_timestamp'].min()
max_date = orders_enriched['order_purchase_timestamp'].max()

min_date, max_date

(Timestamp('2016-09-15 12:16:38'), Timestamp('2018-08-29 15:00:37'))

2. Yearly summary
o Create a table with one row per year showing:
1. year
2. total_orders
3. total_revenue
4. avg_order_value

In [65]:
orders_enriched['year'] = pd.to_datetime(
    orders_enriched['order_purchase_timestamp']
).dt.year

C:\Users\deena\AppData\Local\Temp\ipykernel_25096\390020863.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  orders_enriched['year'] = pd.to_datetime(

In [66]:
orders_enriched['year']

0         2017
1         2017
2         2017
3         2018
4         2018
          ...
115033    2018
115034    2017
115035    2018
115036    2018
115037    2018
Name: year, Length: 115038, dtype: int32

In [67]:
orders_enriched.columns

Index(['order_id', 'order_purchase_timestamp', 'customer_id', 'customer_state',
       'product_id', 'product_category_name', 'price', 'freight_value',
       'payment_type', 'payment_value', 'order_status', 'year'],
      dtype='object')

In [68]:
yearly_summary = (
    orders_enriched
    .groupby('year')
    .agg(
        total_orders=('order_id', 'nunique'),
        total_revenue=('payment_value', 'sum'),
        avg_order_value=('payment_value', 'mean')
    )
    .reset_index()
)

In [69]:
yearly_summary

   year  total_orders  total_revenue  avg_order_value
0  2016           267       61766.56       186.605921
1  2017         43428     8873231.96       170.154789
2  2018         52783    10841161.92       173.303311

A4. Sales trend over time
Create a monthly aggregate table:
 Group by year_month (e.g., 2017-03), derived from order_purchase_date.
 For each year_month, compute:
1. total_orders
2. total_revenue
3. avg_order_value

Name this output table/dataframe monthly_sales.
(This will be used later in your BI dashboard.)

In [70]:
orders_enriched.loc[:, 'year_month'] = (
    pd.to_datetime(orders_enriched['order_purchase_timestamp'])
    .dt.to_period('M')
    .astype(str)
)

C:\Users\deena\AppData\Local\Temp\ipykernel_25096\2208711580.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  orders_enriched.loc[:, 'year_month'] = (

In [71]:
orders_enriched.year_month

0         2017-10
1         2017-10
2         2017-10
3         2018-07
4         2018-08
           ...
115033    2018-02
115034    2017-08
115035    2018-01
115036    2018-01
115037    2018-03
Name: year_month, Length: 115038, dtype: object

In [72]:
monthly_sales = (
    orders_enriched
    .groupby('year_month')
    .agg(
        total_orders=('order_id', 'nunique'),
        total_revenue=('payment_value', 'sum'),
        avg_order_value=('payment_value', 'mean')
    )
    .reset_index()
)

In [73]:
monthly_sales

   year_month  total_orders  total_revenue  avg_order_value
0     2016-09             1           0.00              NaN
1     2016-10           265       61746.94       187.111939
2     2016-12             1          19.62        19.620000
3     2017-01           750      176491.49       183.272575
4     2017-02          1653      325782.66       166.046208
5     2017-03          2546      505735.83       164.306637
6     2017-04          2303      456108.32       168.492176
7     2017-05          3546      701313.60       164.588970
8     2017-06          3135      585400.98       158.774337
9     2017-07          3872      716069.98       151.517135
10    2017-08          4193      842689.94       166.770224
11    2017-09          4150      996279.59       199.136436
12    2017-10          4478      998609.62       183.063175
13    2017-11          7289     1548682.69       175.727073
14    2017-12          5513     1020067.26       158.395537
15    2018-01          7069     1374064.02       164.283121
16    2018-02          6555     1279970.45       164.838435
17    2018-03          7003     1435458.33       172.179241
18    2018-04          6798     1466607.15       180.794767
19    2018-05          6749     1480667.59       182.708242
20    2018-06          6099     1285926.11       175.648970
21    2018-07          6159     1307228.18       181.584690
22    2018-08          6351     1211240.09       164.704935

A5. Product category performance
Using orders_enriched:
1. Create a table category_performance with:
1. product_category_name
2. total_orders (count of distinct order_id)
3. total_items (count of rows / items)
4. total_revenue (sum of payment_value or price – be consistent and note
what you chose)
5. avg_price (average price)

2. Sort by total_revenue (descending) and keep the top 10 categories.

In [74]:
orders_enriched.columns

Index(['order_id', 'order_purchase_timestamp', 'customer_id', 'customer_state',
       'product_id', 'product_category_name', 'price', 'freight_value',
       'payment_type', 'payment_value', 'order_status', 'year', 'year_month'],
      dtype='object')

Grouping by Product Category

In [75]:
category_performance = (
    orders_enriched
    .groupby('product_category_name')
    .agg(
        total_orders=('order_id', 'nunique'),
        total_items=('order_id', 'count'),
        total_revenue=('price', 'sum'),
        avg_price=('price', 'mean')
    )
    .reset_index()
)

2. Sort by total_revenue (descending) and keep the top 10 categories.

In [83]:
category_performance = category_performance.sort_values(
    by='total_revenue',
    ascending=False
)

Keep Only Top 10 Categories

In [84]:
category_performance = category_performance.head(10)

In [85]:
category_performance

,product_category_name,total_orders,total_items,total_revenue,avg_price
0,beleza_saude,8647,9762,1271468.26,130.246697
1,relogios_presentes,5495,6065,1213440.80,200.072679
2,cama_mesa_banho,9272,11650,1077968.13,92.529453
3,esporte_lazer,7530,8733,990644.22,113.436874
4,informatica_acessorios,6530,7898,918948.86,116.352097
5,moveis_decoracao,6307,8557,746183.40,87.201519
6,utilidades_domesticas,5743,7172,648187.74,90.377543
7,cool_stuff,3559,3907,634403.75,162.376184
8,automotivo,3810,4284,602999.05,140.756081
9,ferramentas_jardim,3448,4464,492390.08,110.302437

In [86]:
orders_enriched

,order_id,order_purchase_timestamp,customer_id,customer_state,product_id,product_category_name,price,freight_value,payment_type,payment_value,order_status,year,year_month
0,e481f51cbdc54678b7cc49136f2d6af7,2017-10-02 10:56:33,9ef432eb6251297304e76186b10a928d,SP,87285b34884572647811a353c7ac498a,utilidades_domesticas,29.99,8.72,credit_card,18.12,delivered,2017,2017-10
1,e481f51cbdc54678b7cc49136f2d6af7,2017-10-02 10:56:33,9ef432eb6251297304e76186b10a928d,SP,87285b34884572647811a353c7ac498a,utilidades_domesticas,29.99,8.72,voucher,2.00,delivered,2017,2017-10
2,e481f51cbdc54678b7cc49136f2d6af7,2017-10-02 10:56:33,9ef432eb6251297304e76186b10a928d,SP,87285b34884572647811a353c7ac498a,utilidades_domesticas,29.99,8.72,voucher,18.59,delivered,2017,2017-10
3,53cdb2fc8bc7dce0b6741e2150273451,2018-07-24 20:41:37,b0830fb4747a6c6d20dea0b8c802d7ef,BA,595fac2a385ac33a80bd5114aec74eb8,perfumaria,118.70,22.76,boleto,141.46,delivered,2018,2018-07
4,47770eb9100c2d0c44946d9cf07ec65d,2018-08-08 08:38:49,41ce2a54c0b03bf3443c3d931a367089,GO,aa4383b373c6aca5d8797843e5594415,automotivo,159.90,19.22,credit_card,179.12,delivered,2018,2018-08
...,...,...,...,...,...,...,...,...,...,...,...,...,...
115033,63943bddc261676b46f01ca7ac2f7bd8,2018-02-06 12:58:58,1fca14ff2861355f6e5f14306ff977a7,SP,f1d4ce8c6dd66c47bbaa8c6781c2a923,bebes,174.90,20.10,credit_card,195.00,delivered,2018,2018-02
115034,83c1379a015df1e13d02aae0204711ab,2017-08-27 14:46:43,1aa71eb042121263aafbe80c1b562c9c,BA,b80910977a37536adeddd63663f916ad,eletrodomesticos_2,205.99,65.02,credit_card,271.01,delivered,2017,2017-08
115035,11c177c8e97725db2631073c19f07b62,2018-01-08 21:28:27,b331b74b18dc79bcdf6532d51e1637c1,RJ,d1c427060a0f73f6b889a5c7c61f2ac4,informatica_acessorios,179.99,40.59,credit_card,441.16,delivered,2018,2018-01
115036,11c177c8e97725db2631073c19f07b62,2018-01-08 21:28:27,b331b74b18dc79bcdf6532d51e1637c1,RJ,d1c427060a0f73f6b889a5c7c61f2ac4,informatica_acessorios,179.99,40.59,credit_card,441.16,delivered,2018,2018-01
115037,66dea50a8b16d9b4dee7af250b4be1a5,2018-03-08 20:57:30,edb027a75a1449115f6b43211ae02a24,PR,006619bbed68b000c8ba3f8725d5409e,beleza_saude,68.50,18.36,debit_card,86.86,delivered,2018,2018-03

In [87]:
category_performance = category_performance.reset_index(drop=True)

In [88]:
category_performance

,product_category_name,total_orders,total_items,total_revenue,avg_price
0,beleza_saude,8647,9762,1271468.26,130.246697
1,relogios_presentes,5495,6065,1213440.80,200.072679
2,cama_mesa_banho,9272,11650,1077968.13,92.529453
3,esporte_lazer,7530,8733,990644.22,113.436874
4,informatica_acessorios,6530,7898,918948.86,116.352097
5,moveis_decoracao,6307,8557,746183.40,87.201519
6,utilidades_domesticas,5743,7172,648187.74,90.377543
7,cool_stuff,3559,3907,634403.75,162.376184
8,automotivo,3810,4284,602999.05,140.756081
9,ferramentas_jardim,3448,4464,492390.08,110.302437

A6. State-level performance
Create a table state_performance with:
1. customer_state
2. unique_customers
3. total_orders
4. total_revenue
5. avg_order_value
Sort by total_revenue (descending).

In [89]:
orders_enriched.columns

Index(['order_id', 'order_purchase_timestamp', 'customer_id', 'customer_state',
       'product_id', 'product_category_name', 'price', 'freight_value',
       'payment_type', 'payment_value', 'order_status', 'year', 'year_month'],
      dtype='object')

In [90]:
state_performance = (
    orders_enriched
    .groupby('customer_state')
    .agg(
        unique_customers=('customer_id', 'nunique'),
        total_orders=('order_id', 'nunique'),
        total_revenue=('payment_value', 'sum'),
        avg_order_value=('payment_value', 'mean')
    )
    .reset_index()
)

In [91]:
state_performance

,customer_state,unique_customers,total_orders,total_revenue,avg_order_value
0,AC,80,80,24890.49,264.792447
1,AL,397,397,108425.07,245.861837
2,AM,145,145,34503.04,204.160000
3,AP,67,67,21521.71,259.297711
4,BA,3256,3256,773182.02,196.738427
5,CE,1279,1279,333406.17,222.419059
6,DF,2080,2080,421374.86,174.049922
7,ES,1995,1995,398321.90,172.657954
8,GO,1957,1957,493068.70,207.870447
9,MA,717,717,195078.63,238.482433
10,MG,11354,11354,2281229.16,170.025278
11,MS,701,701,162748.16,194.907976
12,MT,886,886,251504.48,233.090343
13,PA,946,946,254824.98,233.784385
14,PB,517,517,177370.59,284.703997
15,PE,1593,1593,361028.07,197.498944
16,PI,476,476,133647.81,241.677776
17,PR,4923,4923,1030822.39,175.668437
18,RJ,12350,12350,2688933.90,180.792974
19,RN,474,474,115084.60,205.141889
20,RO,243,243,65200.66,232.030819
21,RR,41,41,11300.88,245.671304
22,RS,5345,5345,1110976.47,174.052400
23,SC,3546,3546,767093.97,181.689713
24,SE,335,335,85694.32,222.006010
25,SP,40501,40501,7403993.29,152.590439
26,TO,274,274,70934.12,212.377605

A7. Delivery performance (basic)
Using orders table:
1. Create columns:

1. delivery_time_days = difference in days between
order_delivered_customer_date and order_purchase_timestamp.
2. estimated_delivery_days = difference in days between
order_estimated_delivery_date and order_purchase_timestamp.

2. Create a table delivery_summary_by_state:

1. customer_state
2. avg_delivery_time_days
3. avg_estimated_delivery_days
(You can join customers to get customer_state.)

In [92]:
orders_enriched.columns

Index(['order_id', 'order_purchase_timestamp', 'customer_id', 'customer_state',
       'product_id', 'product_category_name', 'price', 'freight_value',
       'payment_type', 'payment_value', 'order_status', 'year', 'year_month'],
      dtype='object')

In [93]:
orders_dataset

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00
...,...,...,...,...,...,...,...,...
99436,9c5dedf39a927c1b2549525ed64a053c,39bd1228ee8140590ac3aca26f2dfe00,delivered,2017-03-09 09:54:05,2017-03-09 09:54:05,2017-03-10 11:18:03,2017-03-17 15:08:01,2017-03-28 00:00:00
99437,63943bddc261676b46f01ca7ac2f7bd8,1fca14ff2861355f6e5f14306ff977a7,delivered,2018-02-06 12:58:58,2018-02-06 13:10:37,2018-02-07 23:22:42,2018-02-28 17:37:56,2018-03-02 00:00:00
99438,83c1379a015df1e13d02aae0204711ab,1aa71eb042121263aafbe80c1b562c9c,delivered,2017-08-27 14:46:43,2017-08-27 15:04:16,2017-08-28 20:52:26,2017-09-21 11:24:17,2017-09-27 00:00:00
99439,11c177c8e97725db2631073c19f07b62,b331b74b18dc79bcdf6532d51e1637c1,delivered,2018-01-08 21:28:27,2018-01-08 21:36:21,2018-01-12 15:35:03,2018-01-25 23:32:54,2018-02-15 00:00:00
99440,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,delivered,2018-03-08 20:57:30,2018-03-09 11:20:28,2018-03-09 22:11:59,2018-03-16 13:08:30,2018-04-03 00:00:00

In [94]:
orders_dataset.columns

Index(['order_id', 'customer_id', 'order_status', 'order_purchase_timestamp',
       'order_approved_at', 'order_delivered_carrier_date',
       'order_delivered_customer_date', 'order_estimated_delivery_date'],
      dtype='object')

In [95]:
orders_dataset['order_purchase_timestamp'] = pd.to_datetime(

    orders_dataset['order_purchase_timestamp']
)

In [96]:
orders_dataset['order_estimated_delivery_date'] = pd.to_datetime(

    orders_dataset['order_estimated_delivery_date']
)

In [97]:
orders_dataset['order_delivered_customer_date'] = pd.to_datetime(

    orders_dataset['order_delivered_customer_date']
)

Creating delivery_time_days

In [98]:
orders_dataset['delivery_time_days'] = (

    orders_dataset['order_delivered_customer_date']-
    orders_dataset['order_purchase_timestamp']
).dt.days

Create estimated_delivery_days

estimated_delivery_days =
order_estimated_delivery_date − order_purchase_timestamp

In [99]:
orders_dataset['estimated_delivery_days'] = (


    orders_dataset['order_estimated_delivery_date'] -
    orders_dataset['order_purchase_timestamp']
).dt.days

In [100]:
orders_dataset

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,delivery_time_days,estimated_delivery_days
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18,8.0,15
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13,13.0,19
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04,9.0,26
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15,13.0,26
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26,2.0,12
...,...,...,...,...,...,...,...,...,...,...
99436,9c5dedf39a927c1b2549525ed64a053c,39bd1228ee8140590ac3aca26f2dfe00,delivered,2017-03-09 09:54:05,2017-03-09 09:54:05,2017-03-10 11:18:03,2017-03-17 15:08:01,2017-03-28,8.0,18
99437,63943bddc261676b46f01ca7ac2f7bd8,1fca14ff2861355f6e5f14306ff977a7,delivered,2018-02-06 12:58:58,2018-02-06 13:10:37,2018-02-07 23:22:42,2018-02-28 17:37:56,2018-03-02,22.0,23
99438,83c1379a015df1e13d02aae0204711ab,1aa71eb042121263aafbe80c1b562c9c,delivered,2017-08-27 14:46:43,2017-08-27 15:04:16,2017-08-28 20:52:26,2017-09-21 11:24:17,2017-09-27,24.0,30
99439,11c177c8e97725db2631073c19f07b62,b331b74b18dc79bcdf6532d51e1637c1,delivered,2018-01-08 21:28:27,2018-01-08 21:36:21,2018-01-12 15:35:03,2018-01-25 23:32:54,2018-02-15,17.0,37
99440,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,delivered,2018-03-08 20:57:30,2018-03-09 11:20:28,2018-03-09 22:11:59,2018-03-16 13:08:30,2018-04-03,7.0,25

Remove Invalid Rows

Some orders:

Are not delivered

Have missing delivery dates

We remove them to avoid wrong averages.

In [101]:
orders_delivery = orders_dataset.dropna(

subset=['delivery_time_days', 'estimated_delivery_days']

)

In [102]:
orders_delivery

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,delivery_time_days,estimated_delivery_days
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18,8.0,15
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13,13.0,19
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04,9.0,26
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15,13.0,26
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26,2.0,12
...,...,...,...,...,...,...,...,...,...,...
99436,9c5dedf39a927c1b2549525ed64a053c,39bd1228ee8140590ac3aca26f2dfe00,delivered,2017-03-09 09:54:05,2017-03-09 09:54:05,2017-03-10 11:18:03,2017-03-17 15:08:01,2017-03-28,8.0,18
99437,63943bddc261676b46f01ca7ac2f7bd8,1fca14ff2861355f6e5f14306ff977a7,delivered,2018-02-06 12:58:58,2018-02-06 13:10:37,2018-02-07 23:22:42,2018-02-28 17:37:56,2018-03-02,22.0,23
99438,83c1379a015df1e13d02aae0204711ab,1aa71eb042121263aafbe80c1b562c9c,delivered,2017-08-27 14:46:43,2017-08-27 15:04:16,2017-08-28 20:52:26,2017-09-21 11:24:17,2017-09-27,24.0,30
99439,11c177c8e97725db2631073c19f07b62,b331b74b18dc79bcdf6532d51e1637c1,delivered,2018-01-08 21:28:27,2018-01-08 21:36:21,2018-01-12 15:35:03,2018-01-25 23:32:54,2018-02-15,17.0,37
99440,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,delivered,2018-03-08 20:57:30,2018-03-09 11:20:28,2018-03-09 22:11:59,2018-03-16 13:08:30,2018-04-03,7.0,25

In [103]:
customers.columns

Index(['customer_id', 'customer_unique_id', 'customer_zip_code_prefix',
       'customer_city', 'customer_state'],
      dtype='object')

In [104]:
orders_delivery = orders_delivery.merge(
    customers[['customer_id', 'customer_state']],
    on='customer_id',
    how='left'
)

In [105]:
orders_delivery

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,delivery_time_days,estimated_delivery_days,customer_state
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18,8.0,15,SP
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13,13.0,19,BA
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04,9.0,26,GO
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15,13.0,26,RN
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26,2.0,12,SP
...,...,...,...,...,...,...,...,...,...,...,...
96471,9c5dedf39a927c1b2549525ed64a053c,39bd1228ee8140590ac3aca26f2dfe00,delivered,2017-03-09 09:54:05,2017-03-09 09:54:05,2017-03-10 11:18:03,2017-03-17 15:08:01,2017-03-28,8.0,18,SP
96472,63943bddc261676b46f01ca7ac2f7bd8,1fca14ff2861355f6e5f14306ff977a7,delivered,2018-02-06 12:58:58,2018-02-06 13:10:37,2018-02-07 23:22:42,2018-02-28 17:37:56,2018-03-02,22.0,23,SP
96473,83c1379a015df1e13d02aae0204711ab,1aa71eb042121263aafbe80c1b562c9c,delivered,2017-08-27 14:46:43,2017-08-27 15:04:16,2017-08-28 20:52:26,2017-09-21 11:24:17,2017-09-27,24.0,30,BA
96474,11c177c8e97725db2631073c19f07b62,b331b74b18dc79bcdf6532d51e1637c1,delivered,2018-01-08 21:28:27,2018-01-08 21:36:21,2018-01-12 15:35:03,2018-01-25 23:32:54,2018-02-15,17.0,37,RJ
96475,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,delivered,2018-03-08 20:57:30,2018-03-09 11:20:28,2018-03-09 22:11:59,2018-03-16 13:08:30,2018-04-03,7.0,25,PR

In [106]:
orders_delivery.columns

Index(['order_id', 'customer_id', 'order_status', 'order_purchase_timestamp',
       'order_approved_at', 'order_delivered_carrier_date',
       'order_delivered_customer_date', 'order_estimated_delivery_date',
       'delivery_time_days', 'estimated_delivery_days', 'customer_state'],
      dtype='object')

Grouping by State & Calculate Averages

In [108]:
orders_delivery

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,delivery_time_days,estimated_delivery_days,customer_state
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18,8.0,15,SP
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13,13.0,19,BA
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04,9.0,26,GO
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15,13.0,26,RN
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26,2.0,12,SP
...,...,...,...,...,...,...,...,...,...,...,...
96471,9c5dedf39a927c1b2549525ed64a053c,39bd1228ee8140590ac3aca26f2dfe00,delivered,2017-03-09 09:54:05,2017-03-09 09:54:05,2017-03-10 11:18:03,2017-03-17 15:08:01,2017-03-28,8.0,18,SP
96472,63943bddc261676b46f01ca7ac2f7bd8,1fca14ff2861355f6e5f14306ff977a7,delivered,2018-02-06 12:58:58,2018-02-06 13:10:37,2018-02-07 23:22:42,2018-02-28 17:37:56,2018-03-02,22.0,23,SP
96473,83c1379a015df1e13d02aae0204711ab,1aa71eb042121263aafbe80c1b562c9c,delivered,2017-08-27 14:46:43,2017-08-27 15:04:16,2017-08-28 20:52:26,2017-09-21 11:24:17,2017-09-27,24.0,30,BA
96474,11c177c8e97725db2631073c19f07b62,b331b74b18dc79bcdf6532d51e1637c1,delivered,2018-01-08 21:28:27,2018-01-08 21:36:21,2018-01-12 15:35:03,2018-01-25 23:32:54,2018-02-15,17.0,37,RJ
96475,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,delivered,2018-03-08 20:57:30,2018-03-09 11:20:28,2018-03-09 22:11:59,2018-03-16 13:08:30,2018-04-03,7.0,25,PR

In [109]:
delivery_summary_by_state = (
    orders_delivery
    .groupby('customer_state')
    .agg(
        avg_delivery_time_days=('delivery_time_days', 'mean'),
        avg_estimated_delivery_days=('estimated_delivery_days', 'mean')
    )
    .reset_index()
)

In [110]:
delivery_summary_by_state

   customer_state  avg_delivery_time_days  avg_estimated_delivery_days
0              AC               20.637500                    40.725000
1              AL               24.040302                    32.209068
2              AM               25.986207                    44.924138
3              AP               26.731343                    45.865672
4              BA               18.866400                    29.073096
5              CE               20.817826                    31.004691
6              DF               12.509135                    23.947115
7              ES               15.331830                    25.220050
8              GO               15.150741                    26.721513
9              MA               21.117155                    30.083682
10             MG               11.543813                    24.187318
11             MS               15.191155                    25.597718
12             MT               17.593679                    31.366817
13             PA               23.316068                    36.791755
14             PB               19.953578                    32.649903
15             PE               17.965474                    30.689266
16             PI               18.993697                    29.701681
17             PR               11.526711                    24.252488
18             RJ               14.849186                    26.004533
19             RN               18.824895                    31.873418
20             RO               18.913580                    38.386831
21             RR               28.975610                    45.634146
22             RS               14.819237                    28.158870
23             SC               14.479560                    25.415844
24             SE               21.029851                    30.483582
25             SP                8.298061                    18.776911
26             TO               17.226277                    28.729927

A8. Output of Part A (to be reused in BI):

1. orders_enriched
2. monthly_sales
3. category_performance
4. state_performance
5. delivery_summary_by_state

Export these as CSV files for use in Tableau / Power BI / Looker Studio.

In [111]:
type(orders_enriched)
type(monthly_sales)
type(category_performance)
type(state_performance)
type(delivery_summary_by_state)

pandas.core.frame.DataFrame

Expoting to CSV

In [112]:
orders_enriched.to_csv(
    r'D:\Pro_Analyst_Project\Part_A_output_CSV\orders_enriched.csv',
    index=False
)

In [ ]:
monthly_sales.to_csv(
    r'D:\Pro_Analyst_Project\Part_A_output_CSV\monthly_sales.csv',
    index=False
)

In [ ]:
category_performance.to_csv(
    r'D:\Pro_Analyst_Project\Part_A_output_CSV\category_performance.csv',
    index=False
)

In [ ]:
state_performance.to_csv(
    r'D:\Pro_Analyst_Project\Part_A_output_CSV\state_performance.csv',
    index=False
)

In [ ]:
delivery_summary_by_state.to_csv(
    r'D:\Pro_Analyst_Project\Part_A_output_CSV\delivery_summary_by_state.csv',
    index=False
)

In [ ]:
## testing

pd.read_csv(
    r'D:\Pro_Analyst_Project\Part_A_output_CSV\monthly_sales.csv'
).head()